<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.mitra.add_destination.SetRequirementActivity" />
        <activity
            android:name=".ui.pemandu.DetailListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.pemandu.ListPemanduActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.pemandu.DetailPemanduActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityEditProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CariActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.wisatawan.list_destination.DestinationListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mitra.add_destination.SetScheduleDestinationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.wisatawan.list_equipment.EquipmentListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mitra.add_equipment.AddEquipmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListPembayaran"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".ui.mitra.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mitra.add_destination.AddDestinationActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".Profil_User"/> -->
        <!-- <activity android:name=".Profil_Mitra" /> -->
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplasScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterUser"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterMitra"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".ui.wisatawan.list_kuliner.CulinaryListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.wisatawan.list_kuliner.DetailCulinaryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.wisatawan.list_equipment.DetailEquipmentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>